:root {
  --primary-color:#fa057f;
  --secondary-color:#050103;
  --gradient-color1:#594ab0;
  --gradient-color2:#51b1da;
  --text-color:rgb(255, 255, 244);
  --pixel-font:"Silkscreen", cursive;
  --normal-font:"Anek Telugu", sans-serif;
}

.flex, .projects-container, .projects-block, .project__description, .project__button-container, .project__button, .hero-about__section:last-child, .hero-about__icon-container a, .hero-banner {
  display: flex;
  align-items: center;
}

.button {
  display: inline-block;
  border: none;
  font-family: "Silkscreen", cursive;
  color: #fffff4;
  cursor: pointer;
}

.icon-container, .project__icon-container, .hero-about__icon-container {
  display: inline-flex;
  align-items: center;
  font-size: 2.3rem;
  gap: 1.5rem;
  padding: 1.3rem;
  border-radius: 0.5rem;
  background-color: #011129;
}

.padding, .projects-banner, .hero-about {
  padding: 5rem 4rem 0;
}

.title, .projects-banner h1, .hero-about__title {
  font-size: 3.8rem;
}

@media only screen and (max-width: 1146px) {
  .padding, .projects-banner, .hero-about {
    padding: 5rem 3rem 0;
  }
}
@media only screen and (max-width: 500px) {
  .padding, .projects-banner, .hero-about {
    padding: 3rem 1rem 2rem;
  }

  .title, .projects-banner h1, .hero-about__title {
    font-size: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .container, .hero-video, .hero-banner {
    font-size: 12px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

div, img {
  display: block;
}

body {
  height: 100vh;
  background-color: #050103;
  color: #fffff4;
  width: 120rem;
  margin: 0 auto;
  max-width: 100%;
  font-family: var(--normal-font);
}

.hero-banner {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 2rem;
  background-image: url("/assets/Captura.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35em;
}
.hero-banner__layer {
  position: absolute;
  z-index: 2;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  opacity: 3%;
}
.hero-banner__name {
  position: relative;
  text-align: center;
  z-index: 3;
  font-family: var(--pixel-font);
  font-size: 5em;
}
.hero-banner__subtitle {
  text-transform: capitalize;
  font-size: 1.5em;
}

@media only screen and (max-width: 400px) {
  .hero-banner {
    font-size: 8px;
    background-size: 200%;
    background-position: left center;
    height: 20em;
  }
  .hero-banner__name {
    font-size: 3.2em;
  }
}
.hero-video {
  position: relative;
  overflow: hidden;
  height: 15em;
}
.hero-video video {
  position: absolute;
  width: 100%;
  bottom: -4em;
}

@media only screen and (max-width: 400px) {
  .hero-video {
    height: 5em;
  }
}
.hero-about {
  background-color: var(--primary-color);
  padding: 6rem 4rem 2rem;
  padding-bottom: 4rem;
}
.hero-about__title {
  text-transform: capitalize;
  font-family: var(--pixel-font);
}
.hero-about__text {
  display: block;
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  padding: 0 20rem;
}
.hero-about__section:last-child {
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 8rem;
  gap: 1rem;
}
.hero-about__icon-container {
  justify-content: space-between;
  font-size: 16px;
}
.hero-about__icon-container i {
  font-size: 2em;
}
.hero-about__icon-container a {
  align-items: flex-end;
  gap: 1em;
  text-decoration: none;
  color: #fff;
}
.hero-about__icon-container a:hover {
  color: var(--primary-color);
}
.hero-about__icon-container a span {
  font-size: 1em;
}
.hero-about__icon-container a:hover span {
  text-decoration: underline;
}
.hero-about__icon-container:last-child {
  justify-content: center;
}
.hero-about__icon-container:last-child i {
  font-size: 5em;
}
.hero-about__icon-container:last-child a {
  gap: 2em;
}
.hero-about__icon-container:last-child a:hover {
  text-decoration: none;
}
.hero-about__icon-container:last-child span {
  font-weight: bolder;
  font-size: 3em;
  line-height: 2rem;
}

@media only screen and (max-width: 1277px) {
  .hero-about__text {
    padding: 0 4rem;
  }
  .hero-about__icon-container {
    font-size: 14.8px;
  }
}
@media only screen and (max-width: 1146px) {
  .hero-about {
    padding: 6rem 3rem 2rem;
  }
  .hero-about__section:last-child {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
  }
  .hero-about__icon-container {
    width: 35rem !important;
    font-size: 22px;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .hero-about__icon-container-span {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .hero-about {
    padding: 3rem 1rem 2rem;
  }
  .hero-about__title {
    text-align: center;
  }
  .hero-about__text {
    font-size: 1rem;
    padding: 0;
  }
  .hero-about__icon-container {
    font-size: 15px;
    justify-content: space-evenly;
  }
}
.projects-banner {
  padding-bottom: 4rem;
}
.projects-banner h1 {
  font-family: var(--pixel-font);
}

.projects-container {
  flex-direction: column;
}

.projects-block {
  flex-direction: column;
  width: 100%;
  height: 20rem;
}
.projects-block.active .project__link {
  transform: scale(110%);
  background-color: var(--secondary-color);
  opacity: 0.5;
}
.projects-block.active .project__description-container {
  width: 40rem;
}
.projects-block.active .project__icon-container {
  opacity: 1;
  left: 1rem;
}
.projects-block__banner {
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  font-size: 2rem;
  padding: 0.4rem 0;
  text-align: center;
  font-family: var(--pixel-font);
  background-image: linear-gradient(0deg, #594ab0, #51b1da);
  z-index: 4;
}

.project {
  flex: 1;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.project__link {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  transition: ease-in-out 300ms;
}
.project__description-container {
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 0;
  height: 100%;
  transition: ease-in-out 400ms;
}
.project__description {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 40rem;
  padding: 2rem;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 3;
}
.project__list {
  margin-left: 1rem;
  font-size: 1.1rem;
}
.project__button-container {
  width: 100%;
  justify-items: flex-end;
  gap: 1rem;
}
.project__button {
  flex: 1;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
  text-transform: capitalize;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--primary-color);
  font-family: var(--pixel-font);
}
.project__button i {
  font-size: 2rem;
}
.project__button--blue {
  background-color: var(--gradient-color2);
}
.project__icon-container {
  position: absolute;
  z-index: 9;
  bottom: 1rem;
  left: 0rem;
  opacity: 0;
  border: 1px solid #343764;
  transition: ease-in-out 400ms;
}
.project__icon-container--mob {
  display: none;
}

@media only screen and (max-width: 1277px) {
  .project__description {
    width: 25rem;
  }
  .project__button-container {
    width: 100%;
    justify-items: flex-end;
    flex-direction: column;
    gap: 0.5rem;
  }
  .project__button {
    width: 100%;
    gap: 0.5rem;
    font-size: 1.1rem;
    padding: 0.8rem 1.8rem;
  }
  .project__button i {
    font-size: 1.5rem;
  }
  .project__button span {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .projects-block {
    height: fit-content;
  }
  .projects-block__banner {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
  }

  .project__description-container--desktop, .project__icon-container--desktop {
    display: none;
  }
  .project__link {
    display: block;
    width: 100%;
    height: 10rem;
    position: relative;
    background-size: 200%;
  }
  .project__icon-container--mob {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    left: 0 !important;
    opacity: 1;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    padding: 1rem;
  }
  .project__description-container--mob {
    position: relative;
    height: initial;
    width: 100% !important;
  }
  .project__description-container--mob .project__description {
    width: 100%;
    position: relative;
  }
  .project__description-container--mob .project__description > * {
    position: relative;
  }
  .project__description-container--mob .project__button-container {
    margin-top: 2rem;
  }
}
.hero-about--footer {
  padding-top: 64px;
}
.hero-about--footer section:last-child {
  align-items: center;
  margin-top: 0;
}

/*# sourceMappingURL=index.css.map */
