@use '../util/custom-properties';
@use '../util/extends';

.projects-container
{
    @extend .flex;
    flex-direction: column;
}

.projects-block
{
    @extend .flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;

    &.active .project__link
    {
        transform: scale(110%);
        background-color: var(--secondary-color);
        opacity: .5;
    }
    &.active .project__description-container
    {
        width: 40rem;
    }
    &.active .project__icon-container
    {
        opacity: 1;
        left: 1rem;
    }

    &__banner
    {
        display: block;
        position: relative;
        width: 100%;
        top: 0;
        font-size: 2rem;
        padding: .4rem 0;
        text-align: center;
        font-family: var(--pixel-font);
        background-image: linear-gradient(0deg,#594ab0,#51b1da);
        z-index: 4;
    }
    
}
.project
{
    flex: 1;
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    width: 100%;


    &__link
    {
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        transition: ease-in-out 300ms;
       
    }
    &__description-container
    {
        position: absolute;
        overflow: hidden;
        right: 0;
        width: 0;
        height: 100%;
        transition: ease-in-out 400ms;
    }
    &__description
    {
        @extend .flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        overflow: hidden;
        right: 0;
        width: 40rem;
        padding: 2rem;
        height: 100%;
        background-color: var(--secondary-color);
        z-index: 3;
    }
    &__list
    {
        margin-left: 1rem;
        font-size: 1.1rem;
    }
    &__button-container
    {
        @extend .flex;
        width: 100%;
        justify-items:flex-end;
        gap: 1rem;
    }
    &__button
    {
        @extend .flex;
        flex: 1;
        gap: 1rem;
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--text-color);
        text-transform: capitalize;
        padding: 1rem 1.8rem;
        border-radius: .5rem;
        cursor: pointer;
        background-color: var(--primary-color);
        font-family: var(--pixel-font);

        i
        {
            font-size: 2rem;
        }
        &--blue
        {
            background-color: var(--gradient-color2);
        }
    }
    &__icon-container
    {
        @extend .icon-container;
        position: absolute;
        z-index: 9;
        bottom: 1rem;
        left: 0rem;
        opacity: 0;
        border: 1px solid rgb(52, 55, 100);
        transition: ease-in-out 400ms;

        &--mob
        {
            display: none;
        }
    }
}


@media only screen and (max-width:1277px) 
{
   .project
   {
    
    &__description
    {
        width: 25rem;
    }
    &__button-container
    {
        width: 100%;
        justify-items:flex-end;
        flex-direction: column;
        gap: .5rem;
    }
    &__button
    {
        width: 100%;
        gap: .5rem;
        font-size: 1.1rem;
        padding: .8rem 1.8rem;

        i
        {
            font-size: 1.5rem;
        }
        span
        {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
   }
}

@media only screen and (max-width:800px) 
{
    .projects-block
    {
        height: fit-content;
        &__banner
        {
            font-size: 1.5rem;
            padding: .2rem 1rem;
        }
    }
    .project
    {
        &__description-container--desktop,
        &__icon-container--desktop
        {
           display: none;
        }
        &__link
        {
            display: block;
            width: 100%;
            height: 10rem;
            position: relative;
            background-size: 200%;
        }
        &__icon-container--mob
        {
            display: flex;
            position: relative;
            width: 100%;
            justify-content: space-evenly;
            left: 0 !important; 
            opacity: 1;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            padding: 1rem;

        }
        &__description-container--mob
        {
           position: relative;
           height: initial;
           width: 100% !important; 

           & .project__description
           {
              width: 100%;
              position: relative;
           }
           & .project__description > *
           {
              position: relative;
           }
           & .project__button-container
           {
               margin-top: 2rem;
           }
        }
    }
}
@media only screen and (max-width:500px) 
{
    
}