:root
{
    --primary-color:#fa057f;
    --secondary-color:#050103;
    --gradient-color1:#594ab0;
    --gradient-color2:#51b1da;
    --text-color:rgb(255, 255, 244);
    --pixel-font:'Silkscreen', cursive;
    --normal-font:'Anek Telugu', sans-serif;
}